includes:
	- extension.neon
	- rules.neon
	- strictRules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	excludes_analyse:
		- */tests/*/data/*

services:
	scopeIsInClass:
		class: PHPStan\Build\ScopeIsInClassTypeSpecifyingExtension
		arguments:
			isInMethodName: isInClass
			removeNullMethodName: getClassReflection
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

	scopeIsInTrait:
		class: PHPStan\Build\ScopeIsInClassTypeSpecifyingExtension
		arguments:
			isInMethodName: isInTrait
			removeNullMethodName: getTraitReflection
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
