includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon

parameters:
	excludePaths:
		- tests/*/data/*
