includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon

parameters:
	level: 8
	reportUnmatchedIgnoredErrors: false

	resultCachePath: tmp/resultCache.php

	paths:
		- src
		- tests

	excludePaths:
		- tests/*/data/*
	ignoreErrors:
		-
			message: '#^Attribute class PHPUnit\\Framework\\Attributes\\DataProvider does not exist\.$#'
			identifier: attribute.notFound
			reportUnmatched: false
