rules:
	- PHPStan\Rules\PHPUnit\AssertSameBooleanExpectedRule
	- PHPStan\Rules\PHPUnit\AssertSameNullExpectedRule
	- PHPStan\Rules\PHPUnit\AssertSameWithCountRule
	- PHPStan\Rules\PHPUnit\AssertEqualsIsDiscouragedRule
	- PHPStan\Rules\PHPUnit\ClassCoversExistsRule
	- PHPStan\Rules\PHPUnit\ClassMethodCoversExistsRule
	- PHPStan\Rules\PHPUnit\MockMethodCallRule
	- PHPStan\Rules\PHPUnit\NoMissingSpaceInClassAnnotationRule
	- PHPStan\Rules\PHPUnit\NoMissingSpaceInMethodAnnotationRule
	- PHPStan\Rules\PHPUnit\ShouldCallParentMethodsRule

services:
	-
		class: PHPStan\Rules\PHPUnit\DataProviderDeclarationRule
		arguments:
			checkFunctionNameCase: %checkFunctionNameCase%
			deprecationRulesInstalled: %deprecationRulesInstalled%
		tags:
			- phpstan.rules.rule
