services:
	-
		class: PHPStan\Rules\PHPUnit\AssertSameBooleanExpectedRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\PHPUnit\AssertSameNullExpectedRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\PHPUnit\AssertSameWithCountRule
		tags:
			- phpstan.rules.rule
